{
  "openapi": "3.0.1",
  "info": {
    "title": "Moda API Document",
    "description": "Moda API 명세서 입니다.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "http://moda-api.blockchainglobal.co.kr/main/v1",
      "description": "Generated server url"
    }
  ],
  "security": [{ "Authorization": [] }],
  "tags": [
    { "name": "Member", "description": "멤버 관리 API" },
    { "name": "Payment", "description": "결제 관리 API" },
    { "name": "Account", "description": "계좌 관리 API" },
    { "name": "Execution", "description": "체결 관리 API" },
    { "name": "Order", "description": "주문 관리 API" },
    { "name": "Quote", "description": "시세 정보 API" },
    { "name": "Stock", "description": "종목 관리 API" },
    { "name": "Terms", "description": "약관 관리 API" },
    { "name": "Trade", "description": "거래 관리 API" },
    { "name": "WatchList", "description": "관심종목 관리 API" },
    { "name": "Asset", "description": "자산 관리 API" },
    { "name": "Auth", "description": "인증 관리 API" }
  ],
  "paths": {
    "/accounts/info": {
      "get": {
        "tags": ["Account"],
        "summary": "계좌 정보 조회",
        "description": "회원의 계좌 정보를 조회한다.",
        "operationId": "getAccountInfo",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseDataAccountInfoResponse" }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomProblemDetail" },
                "examples": {
                  "H0006_HOA_SERVER_ERROR": {
                    "value": {
                      "type": "about:blank",
                      "title": "External Service Error",
                      "status": 400,
                      "detail": "{HOA 서버에서 내려주는 에러 응답 메시지}",
                      "instance": "/api/v1/{endpoint}",
                      "code": "H0006",
                      "timestamp": "2025-10-31T04:29:20.841612822"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Account"],
        "summary": "계좌 정보 변경",
        "description": "계좌 정보(별칭, 표시여부, 표시순번)를 변경한다.",
        "operationId": "updateAccountInfo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AccountInfoUpdateRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseDataString" }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomProblemDetail" },
                "examples": {
                  "H0006_HOA_SERVER_ERROR": {
                    "value": {
                      "type": "about:blank",
                      "title": "External Service Error",
                      "status": 400,
                      "detail": "{HOA 서버에서 내려주는 에러 응답 메시지}",
                      "instance": "/api/v1/{endpoint}",
                      "code": "H0006",
                      "timestamp": "2025-10-31T04:29:19.935788647"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/change-pw": {
      "put": {
        "tags": ["Account"],
        "summary": "계좌 비밀번호 변경",
        "description": "개설한 계좌의 비밀번호를 변경한다.",
        "operationId": "updatePassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AccountUpdatePwdRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseDataString" }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomProblemDetail" },
                "examples": {
                  "H0006_HOA_SERVER_ERROR": {
                    "value": {
                      "type": "about:blank",
                      "title": "External Service Error",
                      "status": 400,
                      "detail": "{HOA 서버에서 내려주는 에러 응답 메시지}",
                      "instance": "/api/v1/{endpoint}",
                      "code": "H0006",
                      "timestamp": "2025-10-31T04:29:19.950857862"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/watchlist": {
      "get": {
        "tags": ["WatchList"],
        "summary": "관심종목 목록 조회",
        "description": "사용자의 관심종목 전체 목록을 조회한다.",
        "operationId": "getWatchList",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseDataListWatchListResponse" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["WatchList"],
        "summary": "관심종목 등록",
        "description": "새로운 관심종목을 등록한다.",
        "operationId": "addToWatchList",
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/WatchListAddRequest" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseDataObject" }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomProblemDetail" },
                "examples": {
                  "B3002_MEMBER_NOT_FOUND": {
                    "value": {
                      "type": "about:blank",
                      "title": "MEMBER_NOT_FOUND",
                      "status": 400,
                      "detail": "존재하지 않는 회원입니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "B3002",
                      "timestamp": "2025-10-31T04:29:19.966686255"
                    }
                  },
                  "B6001_WATCH_LIST_ALREADY_EXISTS": {
                    "value": {
                      "type": "about:blank",
                      "title": "WATCH_LIST_ALREADY_EXISTS",
                      "status": 400,
                      "detail": "이미 등록된 관심종목입니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "B6001",
                      "timestamp": "2025-10-31T04:29:19.966702151"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/orders": {
      "post": {
        "tags": ["Order"],
        "summary": "신규주문",
        "description": "거래 > 주문 > 신규주문시 사용한다.",
        "operationId": "createNewOrder",
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/OrderNewRequest" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseDataOrderNewResponse" }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomProblemDetail" },
                "examples": {
                  "H0006_HOA_SERVER_ERROR": {
                    "value": {
                      "type": "about:blank",
                      "title": "External Service Error",
                      "status": 400,
                      "detail": "{HOA 서버에서 내려주는 에러 응답 메시지}",
                      "instance": "/api/v1/{endpoint}",
                      "code": "H0006",
                      "timestamp": "2025-10-31T04:29:20.030374929"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/orders/tpsl": {
      "post": {
        "tags": ["Order"],
        "summary": "TPSL주문",
        "description": "거래 > 주문 > TPSL주문시 사용한다.",
        "operationId": "createTpslOrder",
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/OrderTpslRequest" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseDataOrderTpslResponse" }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomProblemDetail" },
                "examples": {
                  "H0006_HOA_SERVER_ERROR": {
                    "value": {
                      "type": "about:blank",
                      "title": "External Service Error",
                      "status": 400,
                      "detail": "{HOA 서버에서 내려주는 에러 응답 메시지}",
                      "instance": "/api/v1/{endpoint}",
                      "code": "H0006",
                      "timestamp": "2025-10-31T04:29:20.154532524"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/orders/modify": {
      "post": {
        "tags": ["Order"],
        "summary": "정정주문",
        "description": "거래 > 주문 > 정정주문시 사용한다.",
        "operationId": "createModifyOrder",
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/OrderModifyRequest" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseDataOrderModifyResponse" }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomProblemDetail" },
                "examples": {
                  "H0006_HOA_SERVER_ERROR": {
                    "value": {
                      "type": "about:blank",
                      "title": "External Service Error",
                      "status": 400,
                      "detail": "{HOA 서버에서 내려주는 에러 응답 메시지}",
                      "instance": "/api/v1/{endpoint}",
                      "code": "H0006",
                      "timestamp": "2025-10-31T04:29:20.184821598"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/orders/close-out": {
      "post": {
        "tags": ["Order"],
        "summary": "청산주문",
        "description": "거래 > 주문 > 청산주문시 사용한다.",
        "operationId": "createCloseOutOrder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/OrderCloseOutRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseDataOrderCloseOutResponse" }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomProblemDetail" },
                "examples": {
                  "H0006_HOA_SERVER_ERROR": {
                    "value": {
                      "type": "about:blank",
                      "title": "External Service Error",
                      "status": 400,
                      "detail": "{HOA 서버에서 내려주는 에러 응답 메시지}",
                      "instance": "/api/v1/{endpoint}",
                      "code": "H0006",
                      "timestamp": "2025-10-31T04:29:20.208684524"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/orders/cancel": {
      "post": {
        "tags": ["Order"],
        "summary": "취소주문",
        "description": "거래 > 주문 > 취소주문시 사용한다.",
        "operationId": "createCancelOrder",
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/OrderCancelRequest" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseDataOrderCancelResponse" }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomProblemDetail" },
                "examples": {
                  "H0006_HOA_SERVER_ERROR": {
                    "value": {
                      "type": "about:blank",
                      "title": "External Service Error",
                      "status": 400,
                      "detail": "{HOA 서버에서 내려주는 에러 응답 메시지}",
                      "instance": "/api/v1/{endpoint}",
                      "code": "H0006",
                      "timestamp": "2025-10-31T04:29:20.222358393"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/members/{email}/approve": {
      "post": {
        "tags": ["Member"],
        "summary": "회원승인(추후 BO로 이동)",
        "description": "회원가입된 아이디의 승인한다. 개인회원(INDIVIDUAL)과 법인회원(CORPORATE)을 모두 지원한다.",
        "operationId": "approve",
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "description": "이메일",
            "required": true,
            "schema": {
              "type": "string",
              "description": "이메일",
              "example": "helloworld@blockchainglobal.co.kr"
            },
            "example": "helloworld@blockchainglobal.co.kr"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/MemberApproveRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseDataString" }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomProblemDetail" },
                "examples": {
                  "B3001_EMAIL_NOT_VERIFIED": {
                    "value": {
                      "type": "about:blank",
                      "title": "EMAIL_NOT_VERIFIED",
                      "status": 400,
                      "detail": "이메일 인증이 완료되지 않았습니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "B3001",
                      "timestamp": "2025-10-31T04:29:20.238663744"
                    }
                  },
                  "B3002_MEMBER_NOT_FOUND": {
                    "value": {
                      "type": "about:blank",
                      "title": "MEMBER_NOT_FOUND",
                      "status": 400,
                      "detail": "존재하지 않는 회원입니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "B3002",
                      "timestamp": "2025-10-31T04:29:20.238676628"
                    }
                  },
                  "B3003_MEMBER_TYPE_MISMATCH": {
                    "value": {
                      "type": "about:blank",
                      "title": "MEMBER_TYPE_MISMATCH",
                      "status": 400,
                      "detail": "요청된 회원 타입과 실제 회원 타입이 일치하지 않습니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "B3003",
                      "timestamp": "2025-10-31T04:29:20.238681495"
                    }
                  },
                  "B3004_INDIVIDUAL_PROFILE_NOT_FOUND": {
                    "value": {
                      "type": "about:blank",
                      "title": "INDIVIDUAL_PROFILE_NOT_FOUND",
                      "status": 400,
                      "detail": "개인 회원 프로필이 존재하지 않습니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "B3004",
                      "timestamp": "2025-10-31T04:29:20.238685809"
                    }
                  },
                  "B3005_CORPORATE_PROFILE_NOT_FOUND": {
                    "value": {
                      "type": "about:blank",
                      "title": "CORPORATE_PROFILE_NOT_FOUND",
                      "status": 400,
                      "detail": "법인 회원 프로필이 존재하지 않습니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "B3005",
                      "timestamp": "2025-10-31T04:29:20.238689884"
                    }
                  },
                  "B3006_MEMBER_ALREADY_ACTIVATED": {
                    "value": {
                      "type": "about:blank",
                      "title": "MEMBER_ALREADY_ACTIVATED",
                      "status": 400,
                      "detail": "이미 활성화된 회원입니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "B3006",
                      "timestamp": "2025-10-31T04:29:20.238693835"
                    }
                  },
                  "H0006_HOA_SERVER_ERROR": {
                    "value": {
                      "type": "about:blank",
                      "title": "External Service Error",
                      "status": 400,
                      "detail": "{HOA 서버에서 내려주는 에러 응답 메시지}",
                      "instance": "/api/v1/{endpoint}",
                      "code": "H0006",
                      "timestamp": "2025-10-31T04:29:20.238701323"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/members/password/change": {
      "post": {
        "tags": ["Member"],
        "summary": "비밀번호 변경",
        "description": "인증이 완료된 사용자의 비밀번호를 새로운 비밀번호로 변경한다. 이메일 인증이 완료되지 않은 경우 오류를 반환한다.",
        "operationId": "changePassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/MemberPasswordChangeRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseDataObject" }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomProblemDetail" },
                "examples": {
                  "B3009_PASSWORD_RESET_NOT_VERIFIED": {
                    "value": {
                      "type": "about:blank",
                      "title": "PASSWORD_RESET_NOT_VERIFIED",
                      "status": 400,
                      "detail": "비밀번호 재설정 인증이 완료되지 않았습니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "B3009",
                      "timestamp": "2025-10-31T04:29:20.249328787"
                    }
                  },
                  "B3002_MEMBER_NOT_FOUND": {
                    "value": {
                      "type": "about:blank",
                      "title": "MEMBER_NOT_FOUND",
                      "status": 400,
                      "detail": "존재하지 않는 회원입니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "B3002",
                      "timestamp": "2025-10-31T04:29:20.249347849"
                    }
                  },
                  "B2005_TOKEN_ALREADY_USED": {
                    "value": {
                      "type": "about:blank",
                      "title": "TOKEN_ALREADY_USED",
                      "status": 400,
                      "detail": "이미 사용된 토큰입니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "B2005",
                      "timestamp": "2025-10-31T04:29:20.249355876"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/members/join/individual": {
      "post": {
        "tags": ["Member"],
        "summary": "개인회원 가입",
        "description": "새로운 개인회원을 등록한다.\n\n필수 파일:\n- idCard: 신분증 (필수)\n\n선택 파일:\n- additionalIdDocument: 주민등록초본 or 관공서 납부영수증 (선택사항)\n\t - swagger 내부에서 테스트 시 파일이 없다면, Send empty value 를 해제하고 테스트해야 한다.\n",
        "operationId": "joinIndividual",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": { "$ref": "#/components/schemas/IndividualMemberJoinRequestDto" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseDataMemberJoinResponse" }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomProblemDetail" },
                "examples": {
                  "B3007_EMAIL_ALREADY_EXISTS": {
                    "value": {
                      "type": "about:blank",
                      "title": "EMAIL_ALREADY_EXISTS",
                      "status": 400,
                      "detail": "이미 가입된 이메일입니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "B3007",
                      "timestamp": "2025-10-31T04:29:20.280556171"
                    }
                  },
                  "B3008_PHONE_ALREADY_EXISTS": {
                    "value": {
                      "type": "about:blank",
                      "title": "PHONE_ALREADY_EXISTS",
                      "status": 400,
                      "detail": "이미 가입된 전화번호입니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "B3008",
                      "timestamp": "2025-10-31T04:29:20.280566869"
                    }
                  },
                  "B3001_EMAIL_NOT_VERIFIED": {
                    "value": {
                      "type": "about:blank",
                      "title": "EMAIL_NOT_VERIFIED",
                      "status": 400,
                      "detail": "이메일 인증이 완료되지 않았습니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "B3001",
                      "timestamp": "2025-10-31T04:29:20.280571452"
                    }
                  },
                  "H0006_HOA_SERVER_ERROR": {
                    "value": {
                      "type": "about:blank",
                      "title": "External Service Error",
                      "status": 400,
                      "detail": "{HOA 서버에서 내려주는 에러 응답 메시지}",
                      "instance": "/api/v1/{endpoint}",
                      "code": "H0006",
                      "timestamp": "2025-10-31T04:29:20.28057615"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/members/join/corporate": {
      "post": {
        "tags": ["Member"],
        "summary": "법인회원 가입",
        "description": "새로운 법인회원을 등록한다.\n\n필수 파일:\n- businessRegistration: 사업자등록증명원 (필수)\n\n- corporateRepresentative: 법인 대표 초본 (필수)\n\n- billPaymentCorporate: 법인명 공과금 납부서 (필수)\n\n- shareholderRegister: 주주 명부 (필수)\n\n- corporateRepresentativePassport: 법인대표 여권 사본 (필수)\n\n선택 파일:\n- additionalCorporateRepresentativePassport: 다른 법인 대표 여권 사본 (선택사항)\n\t - swagger 내부에서 테스트 시 파일이 없다면, Send empty value 를 해제하고 테스트해야 한다.\n",
        "operationId": "joinCorporate",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": { "$ref": "#/components/schemas/CorporateMemberJoinRequestDto" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseDataMemberJoinResponse" }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomProblemDetail" },
                "examples": {
                  "B3007_EMAIL_ALREADY_EXISTS": {
                    "value": {
                      "type": "about:blank",
                      "title": "EMAIL_ALREADY_EXISTS",
                      "status": 400,
                      "detail": "이미 가입된 이메일입니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "B3007",
                      "timestamp": "2025-10-31T04:29:20.311250833"
                    }
                  },
                  "B3008_PHONE_ALREADY_EXISTS": {
                    "value": {
                      "type": "about:blank",
                      "title": "PHONE_ALREADY_EXISTS",
                      "status": 400,
                      "detail": "이미 가입된 전화번호입니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "B3008",
                      "timestamp": "2025-10-31T04:29:20.311261804"
                    }
                  },
                  "B3001_EMAIL_NOT_VERIFIED": {
                    "value": {
                      "type": "about:blank",
                      "title": "EMAIL_NOT_VERIFIED",
                      "status": 400,
                      "detail": "이메일 인증이 완료되지 않았습니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "B3001",
                      "timestamp": "2025-10-31T04:29:20.311266444"
                    }
                  },
                  "H0006_HOA_SERVER_ERROR": {
                    "value": {
                      "type": "about:blank",
                      "title": "External Service Error",
                      "status": 400,
                      "detail": "{HOA 서버에서 내려주는 에러 응답 메시지}",
                      "instance": "/api/v1/{endpoint}",
                      "code": "H0006",
                      "timestamp": "2025-10-31T04:29:20.311271048"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/members/find-id": {
      "post": {
        "tags": ["Member"],
        "summary": "아이디 찾기",
        "description": "SMS 인증이 완료된 사용자의 마스킹된 이메일을 반환한다. SMS 인증이 완료되지 않은 경우 오류를 반환한다.",
        "operationId": "findId",
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/MemberFindIdRequest" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseDataMemberFindIdResponse" }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomProblemDetail" },
                "examples": {
                  "B3016_SMS_NOT_VERIFIED": {
                    "value": {
                      "type": "about:blank",
                      "title": "SMS_NOT_VERIFIED",
                      "status": 400,
                      "detail": "SMS 인증이 완료되지 않았습니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "B3016",
                      "timestamp": "2025-10-31T04:29:20.321038967"
                    }
                  },
                  "B3013_MEMBER_NOT_FOUND_BY_NAME_PHONE": {
                    "value": {
                      "type": "about:blank",
                      "title": "MEMBER_NOT_FOUND_BY_NAME_PHONE",
                      "status": 400,
                      "detail": "해당 이름과 휴대폰 번호로 가입된 회원이 없습니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "B3013",
                      "timestamp": "2025-10-31T04:29:20.321049291"
                    }
                  },
                  "B3010_MEMBER_NOT_ACTIVATED": {
                    "value": {
                      "type": "about:blank",
                      "title": "MEMBER_NOT_ACTIVATED",
                      "status": 400,
                      "detail": "활성화되지 않은 회원입니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "B3010",
                      "timestamp": "2025-10-31T04:29:20.321053912"
                    }
                  },
                  "B2005_TOKEN_ALREADY_USED": {
                    "value": {
                      "type": "about:blank",
                      "title": "TOKEN_ALREADY_USED",
                      "status": 400,
                      "detail": "이미 사용된 토큰입니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "B2005",
                      "timestamp": "2025-10-31T04:29:20.321057656"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auths/websocket": {
      "post": {
        "tags": ["Auth"],
        "summary": "웹소켓 접송용 JWT 발급",
        "description": "웹소켓 접속시 JWT 토큰을 사용하여 접속하기 위해 사용한다.",
        "operationId": "getWebsocketJwtToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/WebsocketJwtTokenRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseDataWebsocketJwtTokenResponse" }
              }
            }
          }
        }
      }
    },
    "/auths/web/refresh": {
      "post": {
        "tags": ["Auth"],
        "summary": "웹 jwt 재발급",
        "description": "access token 만료시 refresh token 유효성 검사 이후 새로운 jwt를 재발급한다.",
        "operationId": "refreshTokensForWeb",
        "parameters": [
          {
            "name": "refreshToken",
            "in": "cookie",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AuthRefreshTokenRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseDataTokenResponse" }
              }
            }
          },
          "401": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomProblemDetail" },
                "examples": {
                  "S0004_TOKEN_VALIDATION_FAILED": {
                    "value": {
                      "type": "about:blank",
                      "title": "Security Error",
                      "status": 401,
                      "detail": "토큰 검증에 실패했습니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "S0004",
                      "timestamp": "2025-10-31T04:29:20.33549627"
                    }
                  },
                  "S0002_TOKEN_PAIR_MISMATCH": {
                    "value": {
                      "type": "about:blank",
                      "title": "Security Error",
                      "status": 401,
                      "detail": "토큰 쌍이 일치하지 않습니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "S0002",
                      "timestamp": "2025-10-31T04:29:20.335506131"
                    }
                  },
                  "S0005_ACCESS_TOKEN_STILL_VALID": {
                    "value": {
                      "type": "about:blank",
                      "title": "Security Error",
                      "status": 401,
                      "detail": "액세스 토큰이 아직 유효합니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "S0005",
                      "timestamp": "2025-10-31T04:29:20.335512673"
                    }
                  },
                  "S0006_INVALID_ACCESS_TOKEN": {
                    "value": {
                      "type": "about:blank",
                      "title": "Security Error",
                      "status": 401,
                      "detail": "유효하지 않은 액세스 토큰입니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "S0006",
                      "timestamp": "2025-10-31T04:29:20.335516894"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auths/web/login": {
      "post": {
        "tags": ["Auth"],
        "summary": "회원 웹 로그인",
        "description": "승인된 아이디를 로그인한다. 개인회원(INDIVIDUAL)과 법인회원(CORPORATE)을 모두 지원한다.",
        "operationId": "loginForWeb",
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/AuthLoginRequest" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseDataAuthLoginResponse" }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomProblemDetail" },
                "examples": {
                  "B1003_MEMBER_NOT_APPROVED": {
                    "value": {
                      "type": "about:blank",
                      "title": "MEMBER_NOT_APPROVED",
                      "status": 400,
                      "detail": "승인되지 않은 회원입니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "B1003",
                      "timestamp": "2025-10-31T04:29:20.352409334"
                    }
                  },
                  "B0001_LOGIN_PROCESSING_ERROR": {
                    "value": {
                      "type": "about:blank",
                      "title": "LOGIN_PROCESSING_ERROR",
                      "status": 400,
                      "detail": "로그인 처리 중 오류가 발생했습니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "B0001",
                      "timestamp": "2025-10-31T04:29:20.352423068"
                    }
                  },
                  "B0002_LOGIN_RESPONSE_PROCESSING_ERROR": {
                    "value": {
                      "type": "about:blank",
                      "title": "LOGIN_RESPONSE_PROCESSING_ERROR",
                      "status": 400,
                      "detail": "로그인 응답 처리 중 오류가 발생했습니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "B0002",
                      "timestamp": "2025-10-31T04:29:20.35242777"
                    }
                  },
                  "H0006_HOA_SERVER_ERROR": {
                    "value": {
                      "type": "about:blank",
                      "title": "External Service Error",
                      "status": 400,
                      "detail": "{HOA 서버에서 내려주는 에러 응답 메시지}",
                      "instance": "/api/v1/{endpoint}",
                      "code": "H0006",
                      "timestamp": "2025-10-31T04:29:20.352432556"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomProblemDetail" },
                "examples": {
                  "S0008_EMAIL_NOT_FOUND": {
                    "value": {
                      "type": "about:blank",
                      "title": "Security Error",
                      "status": 401,
                      "detail": "해당 이메일로 가입된 계정이 없습니다.이메일을 다시 한번 확인해 주세요",
                      "instance": "/api/v1/{endpoint}",
                      "code": "S0008",
                      "timestamp": "2025-10-31T04:29:20.352446174"
                    }
                  },
                  "S0009_INVALID_PASSWORD": {
                    "value": {
                      "type": "about:blank",
                      "title": "Security Error",
                      "status": 401,
                      "detail": "비밀번호가 올바르지 않습니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "S0009",
                      "timestamp": "2025-10-31T04:29:20.352450457"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auths/sms/verify": {
      "post": {
        "tags": ["Auth"],
        "summary": "SMS 인증 코드 검증",
        "description": "발송된 SMS 인증 코드를 검증한다. useType으로 용도를 구분한다.",
        "operationId": "verifySmsVerificationCode",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/MemberVerifySmsCodeRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseDataObject" }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomProblemDetail" },
                "examples": {
                  "B3015_INVALID_SMS_VERIFICATION_TOKEN": {
                    "value": {
                      "type": "about:blank",
                      "title": "INVALID_SMS_VERIFICATION_TOKEN",
                      "status": 400,
                      "detail": "유효한 SMS 인증 토큰이 없습니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "B3015",
                      "timestamp": "2025-10-31T04:29:20.363369544"
                    }
                  },
                  "B2008_TOKEN_INVALID_VALUE": {
                    "value": {
                      "type": "about:blank",
                      "title": "TOKEN_INVALID_VALUE",
                      "status": 400,
                      "detail": "유효하지 않은 토큰입니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "B2008",
                      "timestamp": "2025-10-31T04:29:20.363379602"
                    }
                  },
                  "B2007_TOKEN_EXPIRED": {
                    "value": {
                      "type": "about:blank",
                      "title": "TOKEN_EXPIRED",
                      "status": 400,
                      "detail": "만료된 토큰입니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "B2007",
                      "timestamp": "2025-10-31T04:29:20.363384135"
                    }
                  },
                  "B2006_TOKEN_ALREADY_VERIFIED": {
                    "value": {
                      "type": "about:blank",
                      "title": "TOKEN_ALREADY_VERIFIED",
                      "status": 400,
                      "detail": "이미 인증된 토큰입니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "B2006",
                      "timestamp": "2025-10-31T04:29:20.363388065"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auths/sms/send": {
      "post": {
        "tags": ["Auth"],
        "summary": "SMS 인증 코드 발송",
        "description": "이름과 휴대폰 번호로 SMS 인증 코드를 발송한다. useType으로 용도를 구분한다.",
        "operationId": "sendSmsVerificationCode",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/MemberSendSmsCodeRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseDataObject" }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomProblemDetail" },
                "examples": {
                  "B3013_MEMBER_NOT_FOUND_BY_NAME_PHONE": {
                    "value": {
                      "type": "about:blank",
                      "title": "MEMBER_NOT_FOUND_BY_NAME_PHONE",
                      "status": 400,
                      "detail": "해당 이름과 휴대폰 번호로 가입된 회원이 없습니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "B3013",
                      "timestamp": "2025-10-31T04:29:20.37175643"
                    }
                  },
                  "B3010_MEMBER_NOT_ACTIVATED": {
                    "value": {
                      "type": "about:blank",
                      "title": "MEMBER_NOT_ACTIVATED",
                      "status": 400,
                      "detail": "활성화되지 않은 회원입니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "B3010",
                      "timestamp": "2025-10-31T04:29:20.371766355"
                    }
                  },
                  "B3014_UNSUPPORTED_SMS_USE_TYPE": {
                    "value": {
                      "type": "about:blank",
                      "title": "UNSUPPORTED_SMS_USE_TYPE",
                      "status": 400,
                      "detail": "지원하지 않는 SMS 인증 용도입니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "B3014",
                      "timestamp": "2025-10-31T04:29:20.371770995"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auths/logout": {
      "post": {
        "tags": ["Auth"],
        "summary": "회원 로그아웃",
        "description": "사용중인 아이디를 로그아웃한다. 개인회원(INDIVIDUAL)과 법인회원(CORPORATE)을 모두 지원한다.",
        "operationId": "logout",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseDataObject" }
              }
            }
          },
          "401": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomProblemDetail" },
                "examples": {
                  "S0007_TOKEN_NOT_FOUND": {
                    "value": {
                      "type": "about:blank",
                      "title": "Security Error",
                      "status": 401,
                      "detail": "인증 토큰을 찾을 수 없습니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "S0007",
                      "timestamp": "2025-10-31T04:29:20.375800351"
                    }
                  },
                  "S0004_TOKEN_VALIDATION_FAILED": {
                    "value": {
                      "type": "about:blank",
                      "title": "Security Error",
                      "status": 401,
                      "detail": "토큰 검증에 실패했습니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "S0004",
                      "timestamp": "2025-10-31T04:29:20.375808264"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auths/logout-all": {
      "post": {
        "tags": ["Auth"],
        "summary": "모든 세션 로그아웃",
        "description": "사용중인 아이디를 로그아웃한다. 개인회원(INDIVIDUAL)과 법인회원(CORPORATE)을 모두 지원한다.",
        "operationId": "logoutAll",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseDataObject" }
              }
            }
          }
        }
      }
    },
    "/auths/email/verify": {
      "post": {
        "tags": ["Auth"],
        "summary": "이메일 인증 코드 검증",
        "description": "발송된 인증 코드를 검증한다. useType으로 용도를 구분한다.",
        "operationId": "verifyEmailVerificationCode",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/VerificationCodeRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseDataObject" }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomProblemDetail" },
                "examples": {
                  "B3012_INVALID_VERIFICATION_TOKEN": {
                    "value": {
                      "type": "about:blank",
                      "title": "INVALID_VERIFICATION_TOKEN",
                      "status": 400,
                      "detail": "유효한 인증 토큰이 없습니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "B3012",
                      "timestamp": "2025-10-31T04:29:20.388464007"
                    }
                  },
                  "B2008_TOKEN_INVALID_VALUE": {
                    "value": {
                      "type": "about:blank",
                      "title": "TOKEN_INVALID_VALUE",
                      "status": 400,
                      "detail": "유효하지 않은 토큰입니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "B2008",
                      "timestamp": "2025-10-31T04:29:20.388473859"
                    }
                  },
                  "B2007_TOKEN_EXPIRED": {
                    "value": {
                      "type": "about:blank",
                      "title": "TOKEN_EXPIRED",
                      "status": 400,
                      "detail": "만료된 토큰입니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "B2007",
                      "timestamp": "2025-10-31T04:29:20.38848531"
                    }
                  },
                  "B2006_TOKEN_ALREADY_VERIFIED": {
                    "value": {
                      "type": "about:blank",
                      "title": "TOKEN_ALREADY_VERIFIED",
                      "status": 400,
                      "detail": "이미 인증된 토큰입니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "B2006",
                      "timestamp": "2025-10-31T04:29:20.38848939"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auths/email/send": {
      "post": {
        "tags": ["Auth"],
        "summary": "이메일 인증 코드 발송",
        "description": "회원가입 또는 비밀번호 재설정을 위한 이메일 인증 코드를 발송한다. useType으로 용도를 구분한다.",
        "operationId": "sendEmailVerificationCode",
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/VerificationRequest" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseDataObject" }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomProblemDetail" },
                "examples": {
                  "B3007_EMAIL_ALREADY_EXISTS": {
                    "value": {
                      "type": "about:blank",
                      "title": "EMAIL_ALREADY_EXISTS",
                      "status": 400,
                      "detail": "이미 가입된 이메일입니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "B3007",
                      "timestamp": "2025-10-31T04:29:20.396148357"
                    }
                  },
                  "B3002_MEMBER_NOT_FOUND": {
                    "value": {
                      "type": "about:blank",
                      "title": "MEMBER_NOT_FOUND",
                      "status": 400,
                      "detail": "존재하지 않는 회원입니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "B3002",
                      "timestamp": "2025-10-31T04:29:20.396158303"
                    }
                  },
                  "B3010_MEMBER_NOT_ACTIVATED": {
                    "value": {
                      "type": "about:blank",
                      "title": "MEMBER_NOT_ACTIVATED",
                      "status": 400,
                      "detail": "활성화되지 않은 회원입니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "B3010",
                      "timestamp": "2025-10-31T04:29:20.39616298"
                    }
                  },
                  "B3011_UNSUPPORTED_EMAIL_USE_TYPE": {
                    "value": {
                      "type": "about:blank",
                      "title": "UNSUPPORTED_EMAIL_USE_TYPE",
                      "status": 400,
                      "detail": "지원하지 않는 이메일 인증 용도입니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "B3011",
                      "timestamp": "2025-10-31T04:29:20.396169674"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomProblemDetail" },
                "examples": {
                  "M0001_EMAIL_SEND_FAILED": {
                    "value": {
                      "type": "about:blank",
                      "title": "External Service Error",
                      "status": 500,
                      "detail": "이메일 발송에 실패했습니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "M0001",
                      "timestamp": "2025-10-31T04:29:20.396183436"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auths/app/refresh": {
      "post": {
        "tags": ["Auth"],
        "summary": "앱 jwt 재발급",
        "description": "access token 만료시 refresh token 유효성 검사 이후 새로운 jwt를 재발급한다.",
        "operationId": "refreshTokensForApp",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AuthRefreshTokenRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseDataTokenResponse" }
              }
            }
          },
          "401": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomProblemDetail" },
                "examples": {
                  "S0004_TOKEN_VALIDATION_FAILED": {
                    "value": {
                      "type": "about:blank",
                      "title": "Security Error",
                      "status": 401,
                      "detail": "토큰 검증에 실패했습니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "S0004",
                      "timestamp": "2025-10-31T04:29:20.404158441"
                    }
                  },
                  "S0002_TOKEN_PAIR_MISMATCH": {
                    "value": {
                      "type": "about:blank",
                      "title": "Security Error",
                      "status": 401,
                      "detail": "토큰 쌍이 일치하지 않습니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "S0002",
                      "timestamp": "2025-10-31T04:29:20.404170134"
                    }
                  },
                  "S0005_ACCESS_TOKEN_STILL_VALID": {
                    "value": {
                      "type": "about:blank",
                      "title": "Security Error",
                      "status": 401,
                      "detail": "액세스 토큰이 아직 유효합니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "S0005",
                      "timestamp": "2025-10-31T04:29:20.404174411"
                    }
                  },
                  "S0006_INVALID_ACCESS_TOKEN": {
                    "value": {
                      "type": "about:blank",
                      "title": "Security Error",
                      "status": 401,
                      "detail": "유효하지 않은 액세스 토큰입니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "S0006",
                      "timestamp": "2025-10-31T04:29:20.404178516"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auths/app/login": {
      "post": {
        "tags": ["Auth"],
        "summary": "회원 앱 로그인",
        "description": "승인된 아이디를 로그인한다. 개인회원(INDIVIDUAL)과 법인회원(CORPORATE)을 모두 지원한다.",
        "operationId": "loginForApp",
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/AuthLoginRequest" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseDataAuthLoginResponse" }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomProblemDetail" },
                "examples": {
                  "B1003_MEMBER_NOT_APPROVED": {
                    "value": {
                      "type": "about:blank",
                      "title": "MEMBER_NOT_APPROVED",
                      "status": 400,
                      "detail": "승인되지 않은 회원입니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "B1003",
                      "timestamp": "2025-10-31T04:29:20.421339742"
                    }
                  },
                  "B0001_LOGIN_PROCESSING_ERROR": {
                    "value": {
                      "type": "about:blank",
                      "title": "LOGIN_PROCESSING_ERROR",
                      "status": 400,
                      "detail": "로그인 처리 중 오류가 발생했습니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "B0001",
                      "timestamp": "2025-10-31T04:29:20.421354301"
                    }
                  },
                  "B0002_LOGIN_RESPONSE_PROCESSING_ERROR": {
                    "value": {
                      "type": "about:blank",
                      "title": "LOGIN_RESPONSE_PROCESSING_ERROR",
                      "status": 400,
                      "detail": "로그인 응답 처리 중 오류가 발생했습니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "B0002",
                      "timestamp": "2025-10-31T04:29:20.421359078"
                    }
                  },
                  "H0006_HOA_SERVER_ERROR": {
                    "value": {
                      "type": "about:blank",
                      "title": "External Service Error",
                      "status": 400,
                      "detail": "{HOA 서버에서 내려주는 에러 응답 메시지}",
                      "instance": "/api/v1/{endpoint}",
                      "code": "H0006",
                      "timestamp": "2025-10-31T04:29:20.421364003"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomProblemDetail" },
                "examples": {
                  "S0008_EMAIL_NOT_FOUND": {
                    "value": {
                      "type": "about:blank",
                      "title": "Security Error",
                      "status": 401,
                      "detail": "해당 이메일로 가입된 계정이 없습니다.이메일을 다시 한번 확인해 주세요",
                      "instance": "/api/v1/{endpoint}",
                      "code": "S0008",
                      "timestamp": "2025-10-31T04:29:20.421374382"
                    }
                  },
                  "S0009_INVALID_PASSWORD": {
                    "value": {
                      "type": "about:blank",
                      "title": "Security Error",
                      "status": 401,
                      "detail": "비밀번호가 올바르지 않습니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "S0009",
                      "timestamp": "2025-10-31T04:29:20.42137882"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/withdrawal": {
      "post": {
        "tags": ["Account"],
        "summary": "출금신청",
        "description": "계좌에서 출금을 신청한다.",
        "operationId": "requestWithdrawal",
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/WithdrawalRequest" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ResponseDataUnit" } }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomProblemDetail" },
                "examples": {
                  "H0006_HOA_SERVER_ERROR": {
                    "value": {
                      "type": "about:blank",
                      "title": "External Service Error",
                      "status": 400,
                      "detail": "{HOA 서버에서 내려주는 에러 응답 메시지}",
                      "instance": "/api/v1/{endpoint}",
                      "code": "H0006",
                      "timestamp": "2025-10-31T04:29:20.437161928"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/deposit": {
      "post": {
        "tags": ["Account"],
        "summary": "입금신청",
        "description": "계좌에 입금을 신청한다.",
        "operationId": "requestDeposit",
        "requestBody": {
          "content": {
            "multipart/form-data": { "schema": { "$ref": "#/components/schemas/DepositRequest" } }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ResponseDataUnit" } }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomProblemDetail" },
                "examples": {
                  "H0006_HOA_SERVER_ERROR": {
                    "value": {
                      "type": "about:blank",
                      "title": "External Service Error",
                      "status": 400,
                      "detail": "{HOA 서버에서 내려주는 에러 응답 메시지}",
                      "instance": "/api/v1/{endpoint}",
                      "code": "H0006",
                      "timestamp": "2025-10-31T04:29:20.453082261"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/create": {
      "post": {
        "tags": ["Account"],
        "summary": "계좌 개설",
        "description": "회원가입 후 계좌를 개설한다. 기존 계좌의 존재여부와 상관없이 원장서버로 요청을 보낸다.",
        "operationId": "sendAccountCreate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AccountCreateRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseDataAccountCreateResponse" }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomProblemDetail" },
                "examples": {
                  "H0006_HOA_SERVER_ERROR": {
                    "value": {
                      "type": "about:blank",
                      "title": "External Service Error",
                      "status": 400,
                      "detail": "{HOA 서버에서 내려주는 에러 응답 메시지}",
                      "instance": "/api/v1/{endpoint}",
                      "code": "H0006",
                      "timestamp": "2025-10-31T04:29:20.464398655"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/presentation/orders": {
      "get": {
        "tags": ["presentation-controller"],
        "operationId": "getOrders",
        "parameters": [
          { "name": "actNo", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseDataOrderResponseDto" }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomProblemDetail" },
                "examples": {
                  "H0006_HOA_SERVER_ERROR": {
                    "value": {
                      "type": "about:blank",
                      "title": "External Service Error",
                      "status": 400,
                      "detail": "{HOA 서버에서 내려주는 에러 응답 메시지}",
                      "instance": "/api/v1/{endpoint}",
                      "code": "H0006",
                      "timestamp": "2025-10-31T04:29:20.493183421"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/v1/presentation/balance": {
      "get": {
        "tags": ["presentation-controller"],
        "operationId": "getBalance",
        "parameters": [
          { "name": "actNo", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseDataBalanceResponseDto" }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomProblemDetail" },
                "examples": {
                  "H0006_HOA_SERVER_ERROR": {
                    "value": {
                      "type": "about:blank",
                      "title": "External Service Error",
                      "status": 400,
                      "detail": "{HOA 서버에서 내려주는 에러 응답 메시지}",
                      "instance": "/api/v1/{endpoint}",
                      "code": "H0006",
                      "timestamp": "2025-10-31T04:29:20.512038015"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/trades/liquidation/history": {
      "get": {
        "tags": ["Trade"],
        "summary": "청산 내역 조회",
        "description": "청산 내역 탭 조회시 사용한다.",
        "operationId": "getTradeLiquidationOrderHistory",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/CloseOutOrderHistoryRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDataCloseOutOrderHistoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomProblemDetail" },
                "examples": {
                  "H0006_HOA_SERVER_ERROR": {
                    "value": {
                      "type": "about:blank",
                      "title": "External Service Error",
                      "status": 400,
                      "detail": "{HOA 서버에서 내려주는 에러 응답 메시지}",
                      "instance": "/api/v1/{endpoint}",
                      "code": "H0006",
                      "timestamp": "2025-10-31T04:29:20.535723335"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/trades/history": {
      "get": {
        "tags": ["Trade"],
        "summary": "주문내역 조회",
        "description": "주문내역 탭 조회시 사용한다.",
        "operationId": "getTradeHistory",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/TradeHistoryRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseDataTradeHistoryResponse" }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomProblemDetail" },
                "examples": {
                  "H0006_HOA_SERVER_ERROR": {
                    "value": {
                      "type": "about:blank",
                      "title": "External Service Error",
                      "status": 400,
                      "detail": "{HOA 서버에서 내려주는 에러 응답 메시지}",
                      "instance": "/api/v1/{endpoint}",
                      "code": "H0006",
                      "timestamp": "2025-10-31T04:29:20.561525376"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/trades/close-out/profit-loss": {
      "get": {
        "tags": ["Trade"],
        "summary": "청산손익 조회",
        "description": "거래 > 거래내역 > 청산손익 조회시 사용한다.",
        "operationId": "getCloseOutHistory",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/CloseOutHistoryRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseDataCloseOutHistoryResponse" }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomProblemDetail" },
                "examples": {
                  "H0006_HOA_SERVER_ERROR": {
                    "value": {
                      "type": "about:blank",
                      "title": "External Service Error",
                      "status": 400,
                      "detail": "{HOA 서버에서 내려주는 에러 응답 메시지}",
                      "instance": "/api/v1/{endpoint}",
                      "code": "H0006",
                      "timestamp": "2025-10-31T04:29:20.592227066"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/stocks/possessions": {
      "get": {
        "tags": ["Stock"],
        "summary": "보유종목 조회",
        "description": "종목의 보유종목을 확인할 수 있다.(홈화면)",
        "operationId": "getPossessionStocks",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/PossessionStockRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseDataPossessionStockResponse" }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomProblemDetail" },
                "examples": {
                  "H0006_HOA_SERVER_ERROR": {
                    "value": {
                      "type": "about:blank",
                      "title": "External Service Error",
                      "status": 400,
                      "detail": "{HOA 서버에서 내려주는 에러 응답 메시지}",
                      "instance": "/api/v1/{endpoint}",
                      "code": "H0006",
                      "timestamp": "2025-10-31T04:29:20.602337475"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/stocks/positions": {
      "get": {
        "tags": ["Stock"],
        "summary": "주문잔고 조회",
        "description": "종목의 주문잔고를 확인할 수 있다.(홈화면)",
        "operationId": "getPositionStocks",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/PositionStockRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseDataPositionStockResponse" }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomProblemDetail" },
                "examples": {
                  "H0006_HOA_SERVER_ERROR": {
                    "value": {
                      "type": "about:blank",
                      "title": "External Service Error",
                      "status": 400,
                      "detail": "{HOA 서버에서 내려주는 에러 응답 메시지}",
                      "instance": "/api/v1/{endpoint}",
                      "code": "H0006",
                      "timestamp": "2025-10-31T04:29:20.613852073"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/stocks/orders": {
      "get": {
        "tags": ["Stock"],
        "summary": "주문종목 조회",
        "description": "종목의 MetaData 를 확인할 수 있다.(홈화면, 종목쪽 조회 등 쓰임)",
        "operationId": "getOrderStocks",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/OrderStockRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseDataOrderStockResponse" }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomProblemDetail" },
                "examples": {
                  "H0006_HOA_SERVER_ERROR": {
                    "value": {
                      "type": "about:blank",
                      "title": "External Service Error",
                      "status": 400,
                      "detail": "{HOA 서버에서 내려주는 에러 응답 메시지}",
                      "instance": "/api/v1/{endpoint}",
                      "code": "H0006",
                      "timestamp": "2025-10-31T04:29:20.635759087"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/stocks/accounts": {
      "get": {
        "tags": ["Stock"],
        "summary": "계좌종목 조회",
        "description": "계좌에 속한 종목과 증거금율을 조회할 수 있다.",
        "operationId": "getAccountStocks",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/AccountStockRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseDataAccountStockResponse" }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomProblemDetail" },
                "examples": {
                  "H0006_HOA_SERVER_ERROR": {
                    "value": {
                      "type": "about:blank",
                      "title": "External Service Error",
                      "status": 400,
                      "detail": "{HOA 서버에서 내려주는 에러 응답 메시지}",
                      "instance": "/api/v1/{endpoint}",
                      "code": "H0006",
                      "timestamp": "2025-10-31T04:29:20.647176792"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/quotes/{stockCd}/order-book": {
      "get": {
        "tags": ["Quote"],
        "summary": "5단계 호가 조회",
        "description": "종목의 5단계 호가 정보를 조회합니다.",
        "operationId": "getOrderBook",
        "parameters": [
          {
            "name": "stockCd",
            "in": "path",
            "description": "조회할 종목코드",
            "required": true,
            "schema": { "type": "string" },
            "example": "USDCHF"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDataResponseListOrderBookResponse"
                }
              }
            }
          }
        }
      }
    },
    "/quotes/tick-chart/{stockCd}/history": {
      "get": {
        "tags": ["Quote"],
        "summary": "틱 차트 데이터 조회",
        "description": "종목의 틱 차트 데이터를 조회합니다.",
        "operationId": "getTickChart",
        "parameters": [
          {
            "name": "stockCd",
            "in": "path",
            "description": "조회할 종목코드",
            "required": true,
            "schema": { "type": "string" },
            "example": "USDCHF"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "차트 조회 offset, timestamp",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "조회할 틱 갯수",
            "required": false,
            "schema": { "type": "integer", "format": "int32" },
            "example": 100
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDataResponseListTickChartResponse"
                }
              }
            }
          }
        }
      }
    },
    "/quotes/candle-chart/{stockCd}/history": {
      "get": {
        "tags": ["Quote"],
        "summary": "캔들 차트 데이터 조회",
        "description": "종목의 캔들 차트 데이터를 조회합니다.",
        "operationId": "getCandleChart",
        "parameters": [
          {
            "name": "stockCd",
            "in": "path",
            "description": "조회할 종목코드",
            "required": true,
            "schema": { "type": "string" },
            "example": "USDCHF"
          },
          {
            "name": "interval",
            "in": "query",
            "description": "차트 주기 ex) 1, 1D, 1W, 1M",
            "required": false,
            "schema": { "type": "string" },
            "example": 1
          },
          {
            "name": "offset",
            "in": "query",
            "description": "차트 조회 offset, timestamp",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "조회할 캔들 갯수",
            "required": false,
            "schema": { "type": "integer", "format": "int32" },
            "example": 100
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDataResponseListCandleChartResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payments/history": {
      "get": {
        "tags": ["Payment"],
        "summary": "결제내역 조회",
        "description": "거래 > 거래내역 > 결제내역 조회시 사용한다.",
        "operationId": "getPaymentHistory",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/PaymentHistoryRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseDataPaymentHistoryResponse" }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomProblemDetail" },
                "examples": {
                  "H0006_HOA_SERVER_ERROR": {
                    "value": {
                      "type": "about:blank",
                      "title": "External Service Error",
                      "status": 400,
                      "detail": "{HOA 서버에서 내려주는 에러 응답 메시지}",
                      "instance": "/api/v1/{endpoint}",
                      "code": "H0006",
                      "timestamp": "2025-10-31T04:29:20.71482394"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/members/access-history": {
      "get": {
        "tags": ["Member"],
        "summary": "회원 로그인 이력 조회",
        "description": "회원의 로그인 이력 및 로그아웃 이력 정보를 반환한다.",
        "operationId": "getAccessHistory",
        "parameters": [
          {
            "name": "startAt",
            "in": "query",
            "description": "조회 범위 시작일",
            "required": true,
            "schema": {
              "type": "string",
              "description": "조회 범위 시작일",
              "example": "2025-10-15"
            },
            "example": "2025-10-15"
          },
          {
            "name": "endAt",
            "in": "query",
            "description": "조회 범위 종료일",
            "required": true,
            "schema": {
              "type": "string",
              "description": "조회 범위 종료일",
              "example": "2025-10-16"
            },
            "example": "2025-10-16"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int32" }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": { "minimum": 1, "type": "integer", "format": "int32" }
          },
          { "name": "sort", "in": "query", "required": false, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDataPageResponseMemberLoginHistoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomProblemDetail" },
                "examples": {
                  "B3002_MEMBER_NOT_FOUND": {
                    "value": {
                      "type": "about:blank",
                      "title": "MEMBER_NOT_FOUND",
                      "status": 400,
                      "detail": "존재하지 않는 회원입니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "B3002",
                      "timestamp": "2025-10-31T04:29:20.73356675"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/execution/pending/history": {
      "get": {
        "tags": ["Execution"],
        "summary": "미체결 내역 조회",
        "description": "미체결 내역 탭 조회시 사용한다.",
        "operationId": "getPendingOrderHistory",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/TradeUnExecutionHistoryRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDataTradeUnExecutionHistoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomProblemDetail" },
                "examples": {
                  "H0006_HOA_SERVER_ERROR": {
                    "value": {
                      "type": "about:blank",
                      "title": "External Service Error",
                      "status": 400,
                      "detail": "{HOA 서버에서 내려주는 에러 응답 메시지}",
                      "instance": "/api/v1/{endpoint}",
                      "code": "H0006",
                      "timestamp": "2025-10-31T04:29:20.747113302"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/execution/history": {
      "get": {
        "tags": ["Execution"],
        "summary": "주문 체결 내역 조회",
        "description": "거래 > 거래내역 > 주문체결 조회시 사용한다.",
        "operationId": "getOrderExecutionHistory",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/OrderExecutionHistoryRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDataOrderExecutionHistoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomProblemDetail" },
                "examples": {
                  "H0006_HOA_SERVER_ERROR": {
                    "value": {
                      "type": "about:blank",
                      "title": "External Service Error",
                      "status": 400,
                      "detail": "{HOA 서버에서 내려주는 에러 응답 메시지}",
                      "instance": "/api/v1/{endpoint}",
                      "code": "H0006",
                      "timestamp": "2025-10-31T04:29:20.771989287"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/assets/positions": {
      "get": {
        "tags": ["Asset"],
        "summary": "보유 포지션 조회",
        "description": "회원의 보유한 포지션 리스트를 조회한다.",
        "operationId": "getAssetPositions",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/AssetPositionsRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseDataAssetPositionsResponse" }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomProblemDetail" },
                "examples": {
                  "H0006_HOA_SERVER_ERROR": {
                    "value": {
                      "type": "about:blank",
                      "title": "External Service Error",
                      "status": 400,
                      "detail": "{HOA 서버에서 내려주는 에러 응답 메시지}",
                      "instance": "/api/v1/{endpoint}",
                      "code": "H0006",
                      "timestamp": "2025-10-31T04:29:20.803986621"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/assets/deposits": {
      "get": {
        "tags": ["Asset"],
        "summary": "증거금 내역 조회",
        "description": "회원의 보유한 증거금 리스트를 조회한다.",
        "operationId": "getAssetDeposits",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/AssetDepositsRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseDataAssetDepositsResponse" }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomProblemDetail" },
                "examples": {
                  "H0006_HOA_SERVER_ERROR": {
                    "value": {
                      "type": "about:blank",
                      "title": "External Service Error",
                      "status": 400,
                      "detail": "{HOA 서버에서 내려주는 에러 응답 메시지}",
                      "instance": "/api/v1/{endpoint}",
                      "code": "H0006",
                      "timestamp": "2025-10-31T04:29:20.81609689"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/terms": {
      "get": {
        "tags": ["Terms"],
        "summary": "약관 전체 조회",
        "description": "약관 전체를 조회합니다.",
        "operationId": "getAllTermsGroupedByTermsName",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDataMapTermsNameListResponseTermsByTermsName"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/terms/names": {
      "get": {
        "tags": ["Terms"],
        "summary": "약관 목록 조회",
        "description": "약관 목록을 조회합니다.",
        "operationId": "getAllTermsNames",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseDataResponseTermsList" }
              }
            }
          }
        }
      }
    },
    "/api/v1/terms/name/{termsName}": {
      "get": {
        "tags": ["Terms"],
        "summary": "약관 상세 조회",
        "description": "약관 내용을 조회합니다.",
        "operationId": "getTermsByTermsName",
        "parameters": [
          {
            "name": "termsName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["SERVICE_USAGE_TERMS", "PERSONAL_INFO_COLLECTION", "MARKETING_NOTIFICATION"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDataResponseListResponseTermsByTermsName"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/deposits-withdrawals/info": {
      "get": {
        "tags": ["Account"],
        "summary": "출납신청 조회",
        "description": "회원의 계좌 출납신청 정보를 조회한다.",
        "operationId": "getDepositsWithdrawalsInfo",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/AccountDepositsWithdrawalsInfoRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDataAccountDepositsWithdrawalsInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomProblemDetail" },
                "examples": {
                  "H0006_HOA_SERVER_ERROR": {
                    "value": {
                      "type": "about:blank",
                      "title": "External Service Error",
                      "status": 400,
                      "detail": "{HOA 서버에서 내려주는 에러 응답 메시지}",
                      "instance": "/api/v1/{endpoint}",
                      "code": "H0006",
                      "timestamp": "2025-10-31T04:29:20.858350214"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/available/amount": {
      "get": {
        "tags": ["Account"],
        "summary": "예수금/출금가능금액 조회",
        "description": "계좌의 예수금/출금가능금액을 조회한다.",
        "operationId": "getAvailableAmount",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDataAccountAvailableWithdrawalAmountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomProblemDetail" },
                "examples": {
                  "H0006_HOA_SERVER_ERROR": {
                    "value": {
                      "type": "about:blank",
                      "title": "External Service Error",
                      "status": 400,
                      "detail": "{HOA 서버에서 내려주는 에러 응답 메시지}",
                      "instance": "/api/v1/{endpoint}",
                      "code": "H0006",
                      "timestamp": "2025-10-31T04:29:20.868085911"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/watchlist/{stockCode}": {
      "delete": {
        "tags": ["WatchList"],
        "summary": "관심종목 삭제",
        "description": "등록된 관심종목을 삭제한다.",
        "operationId": "removeFromWatchList",
        "parameters": [
          {
            "name": "stockCode",
            "in": "path",
            "description": "종목 코드",
            "required": true,
            "schema": { "type": "string" },
            "example": "AAPL"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseDataObject" }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomProblemDetail" },
                "examples": {
                  "B6002_WATCH_LIST_NOT_FOUND": {
                    "value": {
                      "type": "about:blank",
                      "title": "WATCH_LIST_NOT_FOUND",
                      "status": 400,
                      "detail": "등록되지 않은 관심종목입니다.",
                      "instance": "/api/v1/{endpoint}",
                      "code": "B6002",
                      "timestamp": "2025-10-31T04:29:20.872687089"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CustomProblemDetail": {
        "type": "object",
        "properties": {
          "type": { "type": "string", "description": "에러 타입 URI" },
          "title": { "type": "string", "description": "에러 제목" },
          "status": { "type": "integer", "description": "HTTP 상태 코드" },
          "detail": { "type": "string", "description": "에러 상세 메시지" },
          "instance": { "type": "string", "description": "에러 발생 경로" },
          "code": { "type": "string", "description": "비즈니스 에러 코드" },
          "timestamp": { "type": "string", "description": "에러 발생 시각", "format": "date-time" },
          "validation": { "type": "object", "description": "검증 실패 상세 정보", "nullable": true }
        },
        "description": "에러 응답 상세 정보"
      },
      "AccountInfoUpdateRequest": {
        "required": ["accountInfos"],
        "type": "object",
        "properties": {
          "accountInfos": {
            "type": "array",
            "description": "계좌 정보 목록",
            "items": { "$ref": "#/components/schemas/ItemDto" }
          }
        },
        "description": "계좌정보 변경 요청 바디"
      },
      "ItemDto": {
        "required": ["accountAlias", "accountNo", "visible"],
        "type": "object",
        "properties": {
          "accountNo": { "type": "string", "description": "계좌번호", "example": "000000000001" },
[...]
