/* Autofill 스타일 오버라이드 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--input-color-text-static) !important;
  caret-color: var(--input-color-text-static) !important;
  background-color: transparent !important;
  background-image: none !important;
  box-shadow: none !important;
  border-color: var(--input-color-border-static) !important;
  background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  border-radius: 10px !important;
  -webkit-mask-image: none !important;
  mask-image: none !important;
  overflow: hidden !important;
  position: relative !important;
  font-family: inherit !important;
  font-size: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
  /* -webkit-box-shadow: 0 0 0 1000px var(--input-color-surface) inset !important; */
  transition: background-color 5000s ease-in-out 0s !important;
}

input::-webkit-contacts-auto-fill-button {
  filter: invert(var(--dark-flag, 0));
}

input:-moz-autofill {
  background-color: transparent !important;
  background-image: none !important;
  /* box-shadow: 0 0 0 1000px var(--input-color-surface) inset !important; */
  -moz-text-fill-color: var(--input-color-text-static) !important;
  caret-color: var(--input-color-text-static) !important;
  border-color: var(--input-color-border-static) !important;
  border-radius: 10px !important;
  overflow: hidden !important;
  position: relative !important;
  font-family: inherit !important;
  font-size: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

input:-ms-input-placeholder {
  color: var(--input-color-text-placeholder) !important;
}

input {
  color-scheme: light dark;
}
