.multi-chart-layout {
  @apply flex h-full;
}

.chart-toolbar {
  @apply w-[51px];
}

.chart-main-area {
  @apply flex flex-1 flex-col;
}

.chart-global-settings {
  @apply h-10 px-3 py-2;
}

.chart-grid-container {
  @apply flex-1 px-1 pb-1;
}
